{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Rentiz - Property Rental & Plot Sales</title>

  <link rel="stylesheet" type="text/css" href="{% static 'mainstyle/css/vendor.css'%}">

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />


  <!-- Link Bootstrap's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'mainstyle/style.css'%}">

  <!-- Google Fonts ================================================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- script ================================================== -->
  <script src="{% static 'mainstyle/js/modernizr.js'%}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  {%block stylecontent%}
  {%endblock%}
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example2" tabindex="0">

  <!-- nav bar start  -->
  <header id="nav" class="site-header position-fixed text-white bg-dark">
    <nav id="navbar-example2" class="navbar navbar-expand-lg py-2">

      <div class="container ">

        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'mainstyle/images/logo.png' %}" alt="Rentiz Logo"></a>


        <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation"><ion-icon
            name="menu-outline" style="font-size: 30px;"></ion-icon></button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
          aria-labelledby="offcanvasNavbar2Label">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav align-items-center justify-content-end align-items-center flex-grow-1 ">
              <li class="nav-item">
                <a class="nav-link active me-md-4" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-md-4" href="#properties">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-md-4" href="#plots">Plots</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-md-4" href="#about-us">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-md-4" href="#help">Contact</a>
              </li>
           
              <li class="nav-item">
                <a class="nav-link mx-md-4" href="{% url 'login' %}">Login</a>
              </li>

              <li class="nav-item">
                <a class="btn-medium btn btn-primary" href="{% url 'user_registration' %}" data-bs-toggle="modal"
                  data-bs-target="#exampleModal2">Sign Up</a>
              </li>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="tabs-listing mt-4">
                        <nav>
                          <div class="nav nav-tabs d-flex justify-content-center border-0" id="nav-tab2" role="tablist">
                            <button class="btn btn-outline-primary text-uppercase me-4 " id="nav-sign-in-tab2"
                              data-bs-toggle="tab" data-bs-target="#nav-sign-in2" type="button" role="tab"
                              aria-controls="nav-sign-in2" aria-selected="false">Log In</button>
                            <button class="btn btn-outline-primary text-uppercase active" id="nav-register-tab2"
                              data-bs-toggle="tab" data-bs-target="#nav-register2" type="button" role="tab"
                              aria-controls="nav-register2" aria-selected="true">Sign Up</button>
                          </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent1">
                          <div class="tab-pane fade " id="nav-sign-in2" role="tabpanel"
                            aria-labelledby="nav-sign-in-tab2">
                            <form id="form3" class="form-group flex-wrap p-3 " method="post" action="{% url 'login' %}">
                              {% csrf_token %}
                              <div class="form-input col-lg-12 my-4">
                                <label for="exampleInputEmail3"
                                  class="form-label fs-6 text-uppercase fw-bold text-black">Email
                                  Address</label>
                                <input type="email" id="exampleInputEmail3" name="email" placeholder="Email"
                                  class="form-control ps-3" required>
                              </div>
                              <div class="form-input col-lg-12 my-4">
                                <label for="inputPassword3"
                                  class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
                                <input type="password" id="inputPassword3" name="password" placeholder="Password"
                                  class="form-control ps-3" aria-describedby="passwordHelpBlock" required>
                                <div id="passwordHelpBlock2" class="form-text text-center">
                                  <a href="#" class="password">Forgot Password?</a>
                                </div>
                              </div>
                              <label class="py-3">
                                <input type="checkbox" name="remember" class="d-inline">
                                <span class="label-body text-black">Remember Me</span>
                              </label>
                              <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6" type="submit">Log In</button>
                              </div>
                            </form>
                          </div>
                          <div class="tab-pane fade active show" id="nav-register2" role="tabpanel"
                            aria-labelledby="nav-register-tab2">
                            <form id="form4" class="form-group flex-wrap p-3 " method="post" action="{% url 'user_registration' %}">
                              {% csrf_token %}
                              <div class="form-input col-lg-12 my-4">
                                <label for="exampleInputEmail4"
                                  class="form-label fs-6 text-uppercase fw-bold text-black">Full Name</label>
                                <input type="text" id="fullName" name="full_name" placeholder="Full Name"
                                  class="form-control ps-3" required>
                              </div>
                              <div class="form-input col-lg-12 my-4">
                                <label for="exampleInputEmail4"
                                  class="form-label fs-6 text-uppercase fw-bold text-black">Email
                                  Address</label>
                                <input type="email" id="exampleInputEmail4" name="email" placeholder="Email"
                                  class="form-control ps-3" required>
                              </div>
                              <div class="form-input col-lg-12 my-4">
                                <label for="inputPassword4"
                                  class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
                                <input type="password" id="inputPassword4" name="password1" placeholder="Password"
                                  class="form-control ps-3" aria-describedby="passwordHelpBlock" required>
                              </div>
                              <div class="form-input col-lg-12 my-4">
                                <label for="inputPassword5"
                                  class="form-label  fs-6 text-uppercase fw-bold text-black">Confirm Password</label>
                                <input type="password" id="inputPassword5" name="password2" placeholder="Confirm Password"
                                  class="form-control ps-3" required>
                              </div>
                              <label class="py-3">
                                <input type="checkbox" name="agree" required class="d-inline">
                                <span class="label-body text-black">I agree to the <a href="#"
                                    class="text-black password border-bottom">Privacy Policy</a>
                                </span>
                              </label>
                              <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6" type="submit">Sign Up</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- billboard start  -->
  <section id="billboard">
    {% block content %}
    {% endblock %}
  </section>

  <section id="footer">
    <div class="container footer-container">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col-md-4">
          <h3><img src="{% static 'mainstyle/images/logo.png'%}" alt="Rentiz Logo"></h3>
          <p>Your trusted partner for property rentals and plot sales. Find your dream home or investment property with us.</p>
          <i class="bi-facebook pe-4"></i>
          <i class="bi-instagram pe-4"></i>
          <i class="bi-twitter pe-4"></i>
          <i class="bi-youtube pe-4"></i>
        </div>

        <div class="col-md-2">
          <h5>Properties</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Apartments for Rent</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Houses for Rent</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Villas for Rent</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Commercial Spaces</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <h5>Plots</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Residential Plots</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Commercial Plots</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Agricultural Land</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Industrial Plots</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <h5>Company</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About Us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">How We Work</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Agents</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Careers</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <h5>Help</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Terms & Conditions</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact Us</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top"></footer>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-2">
        <div class="col-md-8 d-flex align-items-center">
          <p>© 2024 Rentiz - Property Rental & Plot Sales. All rights reserved.</p>
        </div>
       {% comment %} <div class="col-md-4 d-flex align-items-center">
          <p>Template by: <a href="https://templatesjungle.com/" class="link-primary" target="_blank">TemplatesJungle</a><br> 
          Customized for Rentals & Plots</p>
        </div>{% endcomment %}
      </footer>
    </div>
  </section>

  <script src="{% static 'mainstyle/js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'mainstyle/js/script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>
</html>